.github export-ignore
bin export-ignore
Tests export-ignore

.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
composer.lock export-ignore
LICENSE export-ignore
phpcs.xml export-ignore
phpstan.neon.dist export-ignore
README.md export-ignore
