includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
    level: 9
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
    paths:
#        Test all PHP code.
        - %currentWorkingDirectory%/src/
