includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
#    level: max
    level: 4
    checkMissingIterableValueType: false
    inferPrivatePropertyTypeFromConstructor: true
    paths:
#        Test all PHP code.
        - %currentWorkingDirectory%/src/
    autoload_files:
    excludes_analyse:
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
        # https://core.trac.wordpress.org/ticket/43304
        #- '/^Parameter #2 \$deprecated of function load_plugin_textdomain expects string, false given\.$/'
